<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HEART FAILURE DETECTION</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='diabetes-favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <style>
      .form{
        
        margin-top: 50px;
        margin-bottom: 100px;
        margin-right: 150px;
        margin-left: 80px;
        
      }
      </style>
</head>
<body>
  <div class="container">
    <h1 class='container-heading'><span class="heading_font">HEART FAILURE DETECTION</span></h1>
   
</div>
<div class="form">
  
  <form action="{{ url_for('predict') }}" method="POST">
    <label for="age">Age : </label>
    <input type="number" id="age" name="age">
    <br>

    <label for="sex">Sex(1:Male,0:Female) : </label>
    <input type="text" id="sex" name="sex">
    <br>

    <label for="chest pain type">Chest pain type : </label>
    <input type="text" id="chest pain type" name="chest pain type">
    <br>

    <label for="trestbps">Resting Blood Pressure: </label>
    <input type="text" id="trestbps" name="trestbps">
    <br>

     <label for="serum cholestoral in mg/dl">Serum cholestoral in mg/dl : </label>
    <input type="text" id="serum cholestoral in mg/dl" name="serum cholestoral in mg/dl">
    <br>

    <label for="restecg">Resting Electrocardiographic Results: </label>
    <input type="text" id="restecg" name="restecg">
    <br>

    <label for="thalach">Maximum Heart Rate Achieved: </label>
    <input type="text" id="thalach" name="thalach">
    <br>

    <label for="exang">Exercise Induced Angina: </label>
    <input type="text" id="exang" name="exang">
    <br>

    <label for="oldpeak">Oldpeak : </label>
    <input type="text" id="oldpeak" name="oldpeak">
    <br>

    <label for="slope">Slope : </label>
    <input type="text" id="slope" name="slope">
    <br>

    <label for="thal">Thal : </label>
    <input type="text" id="thal" name="thal">
    <br>
    <br>

    <input type="submit" value="Submit"><br><br>
</form>
</div>

<div class ="result">
    <h2 >
      {% if predictione==1 %}
				<h1 style="color:red;"><span class='danger'> You have HEART DISEASE.</span></h1>
				
			{% elif predictione==0 %}
				<h1 style="color:rgb(77, 42, 233);"><span class='safe'>You DON'T have HEART DISEASE.</span></h1>
				
			{% endif %}
      
    </h2>
  </div>

    </div>
</body>
</html>